<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}/tiny blog/{% endblock %}</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    {% include 'header.html' %}
    {% block content %}
    {% if user %}
    <h3>Welcome, {{ user.name }}!</h3>
    <h4><a href="/blog/newpost">add new post</a></h4>
    {% else %}
    <h3>Welcome!</h3>
    {% endif %}
    <!-- Need a Login button, among other things... -->

    {% for article in articles %}
    <div class="article">
      <div class="article-title">
        <a href="/blog/posts/{{ article.key().id() }}/">{{ article.title }}</a>
      </div>
      <div class="article-body">
        <pre>{{ article.article }}</pre>
      </div>
      <h4>{{ article.created }}</h4>
    </div>
    <hr>
    {% endfor %}
    {% endblock content %}
  </body>
</html>
