{% extends "base.html" %}
{% block title %}/tiny blog/ : /delete comment/{% endblock title %}
{% block pagetitle %}tiny blog: /delete comment/{% endblock pagetitle %}
    {% block content %}
    <h4>delete comment</h4>

    <h3>Are you sure you want to delete this comment?</h3>
    <form method="post">
      <label>
        <div>yes, I want to delete this comment.</div>
        <input type="radio" name="delete" value="yes">
      </label>
      <label>
        <div>no, go back.</div>
        <input type="radio" name="delete" value="no">
      </label>
      <input class="btn btn-default" type="submit" value="submit">
    </form>
    <hr>
{% endblock content %}
