{% extends "base.html" %}
{% block title %}/tiny blog/ : /edit comment/{% endblock title %}
{% block pagetitle %}tiny blog : /edit comment/{% endblock pagetitle %}
    {% block content %}

    <form method="post">
      <label>
        <div>comment</div>
        <textarea class="form-control" name="content">{{ comment.content }}</textarea>
      </label>
      <div class="error">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
        {% endif %}
      </div>
      <input class="btn btn-default" type="submit" value="submit">
      <a href="/blog/posts/{{ postid }}">cancel</a>
      <a href="/blog/posts/{{ postid }}/comment/{{ commentid }}/delete">delete</a>
    </form>
{% endblock content %}
