{% extends "base.html" %}
{% block title %}/tiny blog/ : /add new/{% endblock title %}
{% block pagetitle %}tiny blog : /edit post/{% endblock pagetitle %}
    {% block content %}

    <form method="post">
      <label>
        <div>title</div>
        <input class="form-control" type="text" name="subject" value="{{ title }}">
      </label>
      <label>
        <div>article</div>
        <textarea class="form-control" name="content">{{ article }}</textarea>
      </label>
      <div class="error">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
        {% endif %}
      </div>
      <input class="btn btn-default" type="submit" value="submit">
      <a href="/blog/posts/{{ postid }}">cancel</a>
      <a href="/blog/posts/{{ postid }}/delete">delete</a>
    </form>
{% endblock content %}
