{% extends "base.html" %}
{% block title %}/tiny blog/{% endblock title %}
{% block content %}
    {% if user %}
    <h3>Hello, {{ user.name }}!</h3>
    <h4><a href="/blog/newpost">add new post</a></h4>
    {% else %}
    <h3>Hello! please <a href="/blog/login">sign-in</a> or <a href="/blog/signup">sign-up</a></h3>
    {% endif %}

    {% for article in articles %}
    <div class="panel panel-default article">
      <div class="panel-heading article-title">
        <a href="/blog/posts/{{ article.key().id() }}">{{ article.title }}</a>
      </div>
      <div class="panel-body article-body">
        <article>
          {% for line in article.article.splitlines() %}
            <p>{{line}}</p>
          {% endfor %}
        </article>
      </div>
      <p class="small text-right">{{ article.created }}</p>
    </div>
    {% endfor %}
{% endblock content %}
