{% extends "base.html" %}
{% block title %}/tiny blog/ : /sign in/{% endblock title %}
{% block pagetitle %}login{% endblock pagetitle %}
    {% block content %}
    <form method="post">
      <label>
        <div>username</div>
        <input class="form-control" type="text" name="username" value="{{ username }}">
      </label>
      <label>
        <div>password</div>
        <input class="form-control" type="password" name="password" value="{{ password }}">
      </label>
      <div class="error">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
        {% endif %}
      </div>
      <input class="btn btn-default" type="submit" value="submit">
    </form>
{% endblock content %}
