{% extends "base.html" %}
{% block title %}/tiny blog/ : /signup/{% endblock title %}
{% block content %}
    <h4>login</h4>

    <form method="post">
      <label>
        <div>username</div>
        <input type="text" name="username" value="{{ username }}">
      </label>
      <label>
        <div>password</div>
        <input type="text" name="password" value="{{ password }}">
      </label>
      <div class="error">
        <pre>{{ error }}</pre>
      </div>
      <input type="submit" value="submit">
    </form>
{% endblock content %}
