{% extends "base.html" %}
{% block title %}/tiny blog/ : /signup/{% endblock title %}
{% block pagetitle %}/tiny blog/{% endblock pagetitle %}
    {% block content %}
    <h4>signup</h4>

    <form method="post">
      <label>
        <div>username</div>
        <input type="text" name="username" value="{{ username }}">
      </label>
      <label>
        <div>password</div>
        <input type="text" name="password" value="{{ password }}">
      </label>
      <label>
        <div>verify</div>
        <input type="text" name="verify" value="{{ verify }}">
      </label>
      <label>
        <div>email</div>
        <input type="text" name="email" value="{{ email }}">
      </label>
      <div class="error">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ error }}
        </div>
        {% endif %}
      </div>
      <input type="submit" value="submit">
    </form>
{% endblock content %}
